<section class="section">
    <div class="columns">
        <div class="column is-one-fifth">
            {{> teacher_actions}}
        </div>
        <div class="column">
            {{#> content}}
            <h5>No content</h5>
            {{/content}}
        </div>
    </div>
</section>