<aside class="menu">
    <p class="menu-label">Actions</p>
    <ul class="menu-list">
        <li><a href="#">Manage Students</a></li>
        <li><a href="#">Manage Classes</a></li>
        <li><a href="#">Manage Attendance</a></li>
    </ul>
</aside>